html{
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
  font-family: chalkduster;
  src: url(chalkduster.ttf);

  background-image: url('https://rmfleath.sirv.com/dig_dug_grnd.jpg');
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: 1280px 760px;


}
canvas {

  position: absolute;
  z-index:-1;
  margin: auto;
  width:1160px;
  height:550px;
  right: 50px;
  left: 50px;

  display: block;
  border: 10px solid brown;
  border-radius: 50px;
  background: rgb(97, 67, 27);
}
  canvas {
  background-repeat: no-repeat;
  background-size: 1150px 500px;
  background-image: url('https://rmfleath.sirv.com/layout_0.png');
}
